@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Adicione ao seu arquivo CSS global (como styles.css) */
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .surge {
    animation: fadeIn 1s ease-out;
  }
  @keyframes fadeInSubtle {
    from {
      opacity: 0.9;
      transform: scale(0.98);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .animate-fadeInSubtle {
    animation: fadeInSubtle 1.2s ease-out forwards;
  }
  